@using MudBlazor
@inherits LayoutComponentBase

<PageTitle>Register-Page-Mud2</PageTitle>

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    <main>

        @Body
    </main>
</div>
