
@font-face {
    font-family: 'CustomFont';
    src: url('/Fonts/Gandom.ttf') format('truetype');
}

*[b-9j4ud5aqa2] {
    font-family: CustomFont;
}

.table[b-9j4ud5aqa2] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

@media screen and (max-width: 850px) {
    .table[b-9j4ud5aqa2] {
        flex-direction: row;
        justify-content: space-around;
        width: inherit;
    }

    .row[b-9j4ud5aqa2] {
        flex: 1;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .col[b-9j4ud5aqa2] {
        padding: 10px;
        width: 40%;
        display: inline-block;
        flex-basis: 40%;
        box-sizing: border-box;
    }
}

.textInputWrapper[b-9j4ud5aqa2] {
    position: relative;
    width: 180px;
    margin: 12px 5px;
    --accent-color: #a3e583;
}



    .textInputWrapper[b-9j4ud5aqa2]:before {
        transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    }

    .textInputWrapper[b-9j4ud5aqa2]:before,
    .textInputWrapper[b-9j4ud5aqa2]:after {
        content: "";
        left: 0;
        right: 0;
        position: absolute;
        pointer-events: none;
        bottom: -1px;
        z-index: 4;
        width: 100%;
    }

    .textInputWrapper:focus-within[b-9j4ud5aqa2]:before {
        border-bottom: 1px solid var(--accent-color);
    }

    .textInputWrapper[b-9j4ud5aqa2]:before {
        transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    }

    .textInputWrapper:focus-within[b-9j4ud5aqa2]:before {
        border-bottom: 1px solid var(--accent-color);
        transform: scaleX(1);
    }

    .textInputWrapper:focus-within[b-9j4ud5aqa2]:after {
        border-bottom: 2px solid var(--accent-color);
        transform: scaleX(1);
    }

    .textInputWrapper[b-9j4ud5aqa2]:after {
        content: "";
        transform: scaleX(0);
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
        will-change: transform;
        border-bottom: 2px solid var(--accent-color);
        border-bottom-color: var(--accent-color);
    }

.textInput[b-9j4ud5aqa2]::placeholder {
    transition: opacity 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    opacity: 1;
    user-select: none;
    color: rgba(255, 255, 255, 0.582);
}

.textInputWrapper .textInput[b-9j4ud5aqa2] {
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0px 2px 5px rgb(35 35 35 / 30%);
    max-height: 36px;
    background-color: #252525;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 200ms;
    transition-property: background-color;
    color: #e8e8e8;
    font-size: 14px;
    font-weight: 500;
    padding: 12px;
    width: 100%;
    border-left: none;
    border-bottom: none;
    border-right: none;
}

    .textInputWrapper .textInput:focus[b-9j4ud5aqa2],
    .textInputWrapper .textInput:active[b-9j4ud5aqa2] {
        outline: none;
    }

    .textInputWrapper:focus-within .textInput[b-9j4ud5aqa2],
    .textInputWrapper .textInput:focus[b-9j4ud5aqa2],
    .textInputWrapper .textInput:active[b-9j4ud5aqa2] {
        background-color: #353535;
    }

        .textInputWrapper:focus-within .textInput[b-9j4ud5aqa2]::placeholder {
            opacity: 0;
        }

.imggg[b-9j4ud5aqa2] {
    height: 150px;
    width: 150px;
    top: 50%;
    border-radius: 50%;
}

.Detail[b-9j4ud5aqa2] {
    direction: rtl;
    display: flex
}

.Detail-text[b-9j4ud5aqa2] {
    font-weight: 300;
    color: aliceblue;
    margin: 44px 43px 15px 16px;
    line-height: 10px;
}

.card[b-9j4ud5aqa2] {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 1300px;
    height: 550px;
    margin: 0 auto;
    border-radius: 2em;
    padding: 10px;
    background-color: #191919;
    box-shadow: 5px 5px 30px rgb(4, 4, 4), -5px -5px 30px rgb(57, 57, 57);
    flex-direction: column-reverse;
}

.card-bigger[b-9j4ud5aqa2] {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 1300px;
    height: 650px;
    margin: 0 auto;
    border-radius: 2em;
    padding: 10px;
    background-color: #191919;
    box-shadow: 5px 5px 30px rgb(4, 4, 4), -5px -5px 30px rgb(57, 57, 57);
    flex-direction: column-reverse;
}





.card2[b-9j4ud5aqa2] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid black;
    padding: 10px;
}

.row[b-9j4ud5aqa2] {
    flex-basis: 33.33%;
    border: 1px solid black;
    padding: 10px;
}

/* Note that you only needs to edit the config to customize the button! */

.plusButton[b-9j4ud5aqa2] {
    /* Config start */
    --plus_sideLength: 2.5rem;
    --plus_topRightTriangleSideLength: 0.9rem;
    /* Config end */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    width: 3.5rem;
    height: 2.5rem;
    background-color: #000000;
    overflow: hidden;
}

    .plusButton[b-9j4ud5aqa2]::before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border-width: 0 var(--plus_topRightTriangleSideLength) var(--plus_topRightTriangleSideLength) 0;
        border-style: solid;
        border-color: transparent white transparent transparent;
        transition-timing-function: ease-in-out;
        transition-duration: 0.2s;
    }

    .plusButton:hover[b-9j4ud5aqa2] {
        cursor: pointer;
    }

        .plusButton:hover[b-9j4ud5aqa2]::before {
            --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
        }

    .plusButton:focus-visible[b-9j4ud5aqa2]::before {
        --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
    }

    .plusButton > .plusIcon[b-9j4ud5aqa2] {
        fill: white;
        width: calc(var(--plus_sideLength) * 0.7);
        height: calc(var(--plus_sideLength) * 0.7);
        z-index: 1;
        transition-timing-function: ease-in-out;
        transition-duration: 0.2s;
    }

    .plusButton:hover > .plusIcon[b-9j4ud5aqa2] {
        fill: black;
        transform: rotate(180deg);
    }

    .plusButton:focus-visible > .plusIcon[b-9j4ud5aqa2] {
        fill: black;
        transform: rotate(180deg);
    }





@media (max-width: 600px) {
    .textInputWrapper[b-9j4ud5aqa2] {
        position: relative;
        width: 94px;
        margin: 10px -7px;
        --accent-color: #a3e583;
    }

    .card[b-9j4ud5aqa2] {
        padding: 10px;
        flex-direction: column-reverse;
    }


    .Background[b-9j4ud5aqa2] {
        width: 158%;
    }
}
